.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}

.width-50 {
    width: 50%;
}
.width-100 {
    width: 100%;
}
.space-around {
    display: flex;
    justify-content: space-around;
}
.margin-10 {
    margin: 10px;
}
.flex-box {
    display: flex;
}
.flex-box {
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-box div {
    flex: 0 50%;
    box-sizing: border-box;
}
